body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff42;
}




/* Font più snello per il testo del Container 1 */
.custom-justify {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  /* Puoi scegliere un altro font se preferisci */
  font-size: 16px;
  /* Regola le dimensioni come desiderato */
  line-height: 1.6;
  /* Migliora la leggibilità */
}

/* Stile per le parole chiave */
.custom-justify .keyword {
  font-weight: bold;
  color: #ca0f0f;
}

.pacchetto-button {
  display: block;
  /* Rende il bottone un blocco per centrarlo facilmente */
  width: auto;
  /* Larghezza del bottone */
  margin: 10px auto;
  /* Centra il bottone orizzontalmente e aggiunge spazio verticale */
  padding: 12px 20px;
  /* Spaziatura interna */
  font-family: 'Roboto', sans-serif;
  /* Font coerente con il resto del sito */
  font-size: 16px;
  /* Dimensione del testo */
  font-weight: bold;
  /* Testo in grassetto */
  color: rgb(255, 255, 255);
  /* Colore del testo bianco */
  background-color: #ca0f0f;
  /* Sfondo rosa scuro */
  border: none;
  /* Nessun bordo */
  border-radius: 0%;
  /* Angoli arrotondati */
  text-align: center;
  /* Testo centrato */
  cursor: pointer;
  /* Puntatore per indicare un bottone cliccabile */
  transition: all 0.3s ease;
  /* Animazione per hover */
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);

}

.pacchetto-whatsapp {
  display: block;
  /* Rende il bottone un blocco per centrarlo facilmente */
  width: auto;
  /* Larghezza del bottone */
  margin: 10px auto;
  /* Centra il bottone orizzontalmente e aggiunge spazio verticale */
  padding: 12px 20px;
  /* Spaziatura interna */
  font-family: 'Roboto', sans-serif;
  /* Font coerente con il resto del sito */
  font-size: 16px;
  /* Dimensione del testo */
  font-weight: bold;
  /* Testo in grassetto */
  color: rgb(255, 255, 255);
  /* Colore del testo bianco */
  background-color: #188416;
  /* Sfondo rosa scuro */
  border: none;
  /* Nessun bordo */
  border-radius: 0%;
  /* Angoli arrotondati */
  text-align: center;
  /* Testo centrato */
  cursor: pointer;
  /* Puntatore per indicare un bottone cliccabile */
  transition: all 0.3s ease;
  /* Animazione per hover */
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);

}

.pacchetto-whatsapp:hover {
  background-color: #ffffff;
  /* Colore di sfondo più scuro al passaggio del mouse */
  color: #188416;
  /* Colore del testo resta bianco */
  transform: scale(1.05);
  /* Leggero ingrandimento */
}

.pacchetto-button:hover {
  background-color: #ffffff;
  /* Colore di sfondo più scuro al passaggio del mouse */
  color: #ca0f0f;
  /* Colore del testo resta bianco */
  transform: scale(1.05);
  /* Leggero ingrandimento */
}

footer {
  font-family: 'Roboto', sans-serif;
  color: #333;
  width: 100%;
  height: 100%;
}

footer ul {
  padding: 0;
  list-style-type: none;
}

footer a:hover {
  text-decoration: underline;
  color: #cc0662;
}

footer hr {
  border-color: #ca0f0f;
  width: 80px;
  margin: 10px auto;
}

/* Per rendere lo sfondo del footer a larghezza piena */
.footer-container {
  width: 100%;
  height: 100%;
  background-color: white;
  /* backup color se l'immagine non viene caricata */
}

.cookie-container {
  position: fixed;
  /* Posiziona il banner in modo fisso nella finestra */
  bottom: 0;
  /* Fissalo al fondo */
  left: 0;
  /* Assicurati che inizi dal bordo sinistro */
  right: 0;
  /* Assicurati che si estenda fino al bordo destro */
  display: flex;
  flex-direction: column;
  /* Imposta il contenuto in una colonna */
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  /* Colore di sfondo */
  padding: 15px;
  /* Padding interno */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  /* Aggiunge un'ombra per evidenziare */
  z-index: 1000;
  /* Porta il banner in primo piano */
  border: 1px solid;
  text-align: center;
}

.cookie-container p {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 0;
  text-align: center;
}

.cookie-container button {
  background-color: #ca0f0f;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.cookie-container button:hover {
  background-color: #ffffff;
  color: #ca0f0f;
}

.cookie-container a {
  color: white;
  text-decoration: underline;
}

:root {
  --navbar-height: 100px;
  /* Altezza personalizzabile della navbar */
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: var(--navbar-height);
  /* Usa la variabile per impostare l'altezza */
  display: flex;
  align-items: center;
  /* Centra verticalmente il contenuto */
}

.navbar a.nav-link {
  color: #ca0f0f;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

.navbar a.nav-link:hover {
  color: black;
}

.navbar-collapse {
  background-color: #ffffff;
  /* Sfondo visibile quando il menu si apre */
}

.navbar-collapse.show {
  background-color: #ffffff;
  /* Forza il colore di sfondo */
  position: absolute;
  /* Rende il menu assoluto per coprire l'area */
  top: var(--navbar-height);
  /* Posiziona il menu subito sotto la navbar */
  left: 0;
  padding: 10px;
  width: 100%;
  z-index: 10;
  /* Garantisce che il menu sia sopra gli altri elementi */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Aggiunge un'ombra per separare il menu */
}

.hero {
  background: url('images/hero.png') center center / cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

.hero h1 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  /* Ombra per il testo */
}

.hero .btn {
  background-color: #ca0f0f;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border-radius: 0%;
}

.hero .btn:hover {
  background-color: #ffffff;
  color: #ca0f0f;
}

.keyword {
  font-weight: bold;
  color: #ca0f0f;
}

.hero-button {
  display: block;
  /* Rende il bottone un blocco per centrarlo facilmente */
  width: 200px;
  /* Larghezza del bottone */
  margin: 10px auto;
  /* Centra il bottone orizzontalmente e aggiunge spazio verticale */
  padding: 12px 20px;
  /* Spaziatura interna */
  font-family: 'Roboto', sans-serif;
  /* Font coerente con il resto del sito */
  font-size: 16px;
  /* Dimensione del testo */
  font-weight: bold;
  /* Testo in grassetto */
  color: rgb(255, 255, 255);
  /* Colore del testo bianco */
  background-color: #ca0f0f;
  /* Sfondo rosa scuro */
  border: none;
  /* Nessun bordo */
  border-radius: 0%;
  /* Angoli arrotondati */
  text-align: center;
  /* Testo centrato */
  cursor: pointer;
  /* Puntatore per indicare un bottone cliccabile */
  transition: all 0.3s ease;
  /* Animazione per hover */
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 2);

}