
/* Contenitore principale */
.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border-radius: 0%;
  overflow: hidden;
  width: 90vw; /* Larghezza massima al 90% del viewport */
  max-width: 1200px; /* Massima larghezza */
  height: auto;
  min-height: 45vh;
  margin: 20px 0;
  transition: height 0.3s ease; /* Transizione per adattare l'altezza in modo fluido */
}


/* Contenuto centrato nel container */
.form-container {
 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
}

/* Dimensione della mappa */
#map-container {
  flex: 2;
  position: relative;
  width: 100%;
}

#map {
  height: 50vh; /* Aumenta l'altezza della mappa */
  width: 100%;
  border-radius: 0%; /* Angoli arrotondati per la mappa */
}

/* Centra il contenuto */
input[type="text"], select, button {
  padding: 8.5px;
  margin-bottom: 17px;
  border: none;
  border-radius: 4px;
  font-size: 16.6px;
  width: 100%;
  max-width: 340px;
  box-sizing: border-box;
  border: 1px solid black;
  transition: font-size 0.3s ease, padding 0.3s ease; /* Transizione per la regolazione dinamica */
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 80%; /* Imposta la larghezza per lo slider */
  margin-bottom: 17px;
  margin-left: 11%;
}

input[type="range"] {
  width: 100%;
  background: red;
  height: 6.8px;
  border-radius: 5px;
  text-align: center;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8vw;
  height: 12.75px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

#price-result {
  font-size: 18.4px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin-top: 1px;
  margin-left: 11%;
}

/* Media Query per schermi più piccoli */
@media only screen and (max-width: 767px) {
  .container {
    width: 100vw;
    max-width: 100vw; /* Assicura che si adatti allo schermo del dispositivo */
  }

  #map {
    height: 50vh; /* Riduce l'altezza della mappa sugli smartphone */
  }

  input[type="text"], select, button {
    font-size: 14px; /* Riduce la dimensione del testo sugli schermi piccoli */
    padding: 6px; /* Riduce il padding sugli schermi piccoli */
    max-width: 280px; /* Riduce la larghezza massima sugli smartphone */
  }

  #price-result {
    font-size: 16px; /* Riduce la dimensione del testo per il risultato del prezzo sugli schermi piccoli */
  }

  input[type="range"] {
    height: 5px; /* Riduce l'altezza del range slider sugli schermi piccoli */
  }

  input[type="range"]::-webkit-slider-thumb {
    height: 10px; /* Riduce la dimensione del pollice del range slider */
  }
}

/* Media Query per schermi ancora più piccoli (es. smartphone molto piccoli) */
@media only screen and (max-width: 480px) {
  input[type="text"], select, button {
    font-size: 12px; /* Riduce ulteriormente la dimensione del testo */
    padding: 5px; /* Riduce il padding */
    max-width: 250px; /* Riduce la larghezza massima */
  }

  #map {
    height: 120px; /* Riduce ulteriormente l'altezza della mappa */
  }

  #price-result {
    font-size: 14px; /* Riduce ulteriormente la dimensione del testo */
  }
}



.iframe-container {
  width: 100%;
  height: 45vh;
  border: none;
  overflow: hidden;
  margin-top: 0%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.offerta {
  background-color: transparent;
  border-radius: 12px; /* Bordi arrotondati */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0); /* Ombra per dare un effetto di profondità */
  width: 80%; /* Larghezza del container */
  max-width: 100vw; /* Larghezza massima per evitare di superare larghezze maggiori */
  height: 80vh; /* Altezza dinamica pari all'altezza del viewport */
  margin: 20px auto; /* Centrato rispetto alla pagina */
  display: flex;
  flex-direction: column; /* Dispone le righe in verticale */
  overflow-y: scroll; /* Abilita lo scrolling verticale */
  overflow-x: hidden; /* Evita lo scrolling orizzontale */
  margin-top: 10%;
}

/* Nascondi la barra di scorrimento su WebKit (Chrome, Safari) */
.offerta::-webkit-scrollbar {
  width: 0px; /* Nasconde la barra di scorrimento */
}

/* Nascondi la barra di scorrimento su Firefox */
.offerta {
  scrollbar-width: none; /* Nasconde la barra di scorrimento su Firefox */
}

/* Nascondi la barra di scorrimento su Internet Explorer e Edge */
.offerta {
  -ms-overflow-style: none; /* Nasconde la barra di scorrimento su IE e Edge */
}

.offerta .row {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 16px; /* Spazio tra le righe */
  border-radius: 15px; /* Bordi arrotondati per le righe */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); /* Ombra leggera per le righe */
  text-align: center; /* Testo centrato */
}

.offerta .row:last-child {
  margin-bottom: 5%; /* Rimuove il margine inferiore per l'ultima riga */
}


/* Stile per l'etichetta non cliccabile */
.non-clickable-label {
  background-color: #10c9cf; /* Colore di sfondo modificabile */
  color: #ffffff; /* Colore del testo modificabile */
  border: transparent; /* Colore e spessore del bordo modificabile */
  position: center;
  padding-top: 0.6vw; /* Padding dall'alto */
  padding-bottom: 0.5vw; /* Padding dal basso */
  padding-left: 20px; /* Padding da sinistra */
  padding-right: 20px; /* Padding da destra */
  border-radius: 10px; /* Bordo arrotondato */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra modificabile */
  font-size: 4.5vw;
  margin-left: 0px; /* Spazio tra titolo e etichetta */
  display: inline-block;
  margin-bottom: 6vw;
  margin-top: 2.4vw;
  border: none; /* Rimuove eventuali bordi del bottone */
 
}


/* Nascondi la barra di scorrimento su WebKit (Chrome, Safari) */
.offerta::-webkit-scrollbar {
  width: 0px; /* Nasconde la barra di scorrimento */
}



.reservebutton {
  background-color: #4285f4; /* Colore blu in stile Google */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 4vw;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reservebutton:hover {
  background-color: #357ae8; /* Colore più scuro al passaggio del mouse */
}




