body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-image: url('images/sfondobody.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    scroll-behavior: smooth;
    scroll-padding-top: 70px; /* Aggiunge 100px di spazio dall'alto durante lo scroll */
}

/* Nascondi il contenuto su dispositivi mobili */
@media (max-width: 1024px) {
    body {
        display: none;
    }
}

.centered-iframe {
    width: 80%; /* Regola la larghezza come preferisci */
    height: 90%; /* Regola l'altezza come preferisci */
    border: none; /* Rimuove i bordi */
    background: transparent; /* Sfondo trasparente */
    position: absolute;
    margin-top: -3vh;
    left: 73vw;
    transform: translate(-50%, -50%);
    overflow: hidden;
}


/* Stile del titolo principale */
.deseo-title {
    font-family: 'Poly', serif;
    font-size: 2vw;
    color: #000000;
    text-align: center;
    margin-top: 1vw;
    opacity: 0;
    animation: zoomIn 2s ease forwards;
    animation-delay: 0.5s;
    letter-spacing: 0.5vw;
}

/* Stile del titolo principale */
.deseo-title1 {
    font-family: 'Poly', serif;
    font-size: 1vw;
    color: #000000;
    text-align: center;
    margin-top: 0.7vw;
    opacity: 0;
    animation: zoomIn 2s ease forwards;
    animation-delay: 0.5s;
    letter-spacing: 0.5vw;
}

/* Stile del titolo principale */
.deseo-title2 {
    font-family: 'Poly', serif;
    font-size: 0.9vw;
    color: #000000;
    text-align: center;
    margin-top: 0.8vw;
    opacity: 0;
    animation: zoomIn 2s ease forwards;
    animation-delay: 0.5s;
    letter-spacing: 3px;
}


/* Stile dei titoli secondari */
.titles-text {
    font-size: 2.5vw;
    color: #000000;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Stile della barra di navigazione */
@media (min-width: 1024px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        z-index: 1000;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .navbar-menu {
        display: flex;
        gap: 20px;
        height: 100%;
        align-items: center;
    }

    .navbar-menu a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 20px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        height: 100%;
        transition: color 0.7s ease, background-color 0.3s ease;
    }

    .navbar-menu a:hover {
        color: #ffffff;
        background-color: #000000;
        text-decoration: none;
    }

    /* Stile della sezione Hero */
    .hero {
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 1fr;
        height: calc(100vh - 50px);
        margin-top: 50px;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
    }

    .hero::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        height: 20px;
        background: rgba(0, 0, 0, 0.159);
        z-index: -1;
        filter: blur(15px);
        
    }

    .hero-section {
        display: flex;
        justify-content: center; /* Centra orizzontalmente */
        align-items: center; /* Centra verticalmente */
        color: rgba(0, 0, 0, 0.614);
        text-align: center;
        background-size: cover;
        background-position: center;
        height: 100vh; /* Occupare l'intera altezza della viewport */
    }
    
    .hero-content {
        width: 80vw; /* Imposta una larghezza relativa alla viewport */
        max-width: 1200px; /* Limita la larghezza massima del contenuto */
        box-sizing: border-box; /* Assicura che il padding non influisca sulle dimensioni */
        padding: 0 2vw; /* Aggiunge padding ai lati */
        
    }

    /* Stile delle icone social */
    .social-icons {
        display: flex;
        gap: 1vw;
        opacity: 0;
        animation: zoomIn 1.0s ease forwards 1.5s;
        position: center;
        
    }

    .social-icons img {
        width: 7vw;
        height: 7vw;
        cursor: pointer;
        transition: transform 0.3s ease;
        margin-top: 1.7vw;
        margin-bottom: 1.7vw;
        align-items: center;
    }

    .social-icons img:hover {
        transform: scale(1.2);
    }



    /* Stile logo e testi */
    .logo {
        animation: zoomIn 2s ease forwards;
        animation-delay: 0.5s;
        opacity: 0;
        width: 14vw;
    }

    /* Stile Ghirigoro*/
    .ghirigoro {
        animation: zoomIn 2s ease forwards;
        animation-delay: 0.7s;
        opacity: 0;
        width: 13vw;
        margin-top: 0.7vw;
    }

    .text {
        animation: zoomIn 2s ease forwards;
        animation-delay: 1.0s;
        opacity: 0;
        font-size: 1vw;
        }

    .button {
        margin-top: 1vw;
        padding: 12px 25px;
        background-color: rgb(170, 145, 0);
        color: rgb(255, 255, 255);
        border-radius: 12px;
        text-decoration: none;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 1px;
        text-align: center;
        transition: background-color 0.3s ease;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.421);
        display: inline-block;
        opacity: 0;
        animation: zoomIn 1.0s ease forwards 1.5s;
    }

    .button:hover {
        background-color: rgb(211, 180, 2);
    }

    /* Sezione Chi Siamo */
    .about-us-container {
        width: 35vw;
        margin: 50px auto;
        padding: 40px;
        background-color: none;
        border-radius: 15px;
        box-shadow: none;
        text-align: center;
        color: #000000;
        font-family: 'Arial', sans-serif;
        margin-top: -1%;
    }

    .about-us-container h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #000000;
    }

    .about-us-container p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        color: #000000;
    }

    /* Footer */
    .site-footer {
        width: 100vw;
        background-image: url('images/footer-background.jpg');
        background-size: cover;
        background-position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .footer-content {
        max-width: 80vw;
        width: 80vw;
        padding: 20px;
    }

    .footer-content p {
        margin: 5px 0;
    }

    /* Animazioni */
    @keyframes zoomIn {
        0% {
            transform: scale(0.8);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes zoomInOut {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    /* Banner Cookie */
    #cookie-banner {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        padding: 15px;
        text-align: center;
        z-index: 10000;
        display: none;
    }

    #cookie-banner p {
        margin: 0;
        display: inline-block;
    }

    #cookie-banner button {
        background-color: rgb(170, 145, 0);
        color: white;
        border: none;
        padding: 10px 20px;
        margin-left: 15px;
        cursor: pointer;
        border-radius: 5px;
    }

    #cookie-banner button:hover {
        background-color: rgb(211, 180, 2);
    }

    /* Menù a tendina per la lingua */
    .language-menu {
        position: absolute;
        top: 3%;
        right: 2%;
        z-index: 10;
    }

    .language-btn {
        background-color: #000000b9;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
    }

    .language-content {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgba(0, 0, 0, 0.454);
        min-width: 120px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px;
    }

    .language-content a {
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .language-content a:hover {
        background-color: #000000;
    }

    .language-menu:hover .language-content {
        display: block;
    }

    /*profile card*/
    .about-us-container {
        border: 0px solid transparent;
        border-radius: 20px;
        padding: 20px;
        background-color: rgb(255, 255, 255);
        width: 65vw;
        max-width: 65vw;
        margin: 0 auto;
        box-shadow: transparent;
    }
    
    .profile-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0px solid transparent;
        border-radius: 20px;
        padding: 20px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        margin-bottom: 30px;
    }
    
    .profile-card {
        text-align: center;
    }
    
    .bio-container {
        border: 0px solid transparent;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
        background-color: rgb(255, 255, 255);
    }
    


/* Stile della tabella centrata e con bordi arrotondati */
.centered-table {
    margin: 0 auto;
    border-collapse: separate;
    border: 0px solid black;
    border-radius:0px;
    overflow: hidden;
    width: 85vw;
    box-shadow: 0 8px 16px rgb(0, 0, 0, 0.1);
    table-layout: fixed;
}

/* Stile delle celle della tabella */
.centered-table td {
    border: none;
    padding-left: 45px;
    padding-right: 45px;
    width: 70vw;
    padding-bottom: 25px;
    padding-top: 0px;
}

/* Stile della tabella centrata e con bordi arrotondati */
.centered-table {
    margin: 0 auto;
    border-collapse: separate;
    border: 0px solid black;
    border-radius: 30px;
    overflow: visible; /* Assicurati che l'overflow sia visibile */
    width: 70vw;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

/* Stile delle celle della tabella */
.centered-table td {
    border: none;
    padding-left: 45px;
    padding-right: 45px;
    width: 50%;
    padding-bottom: 25px;
    padding-top: 0px;
    position: relative; /* Necessario per posizionare l'elemento ::before */
    overflow: visible; /* Consenti la visualizzazione dell'overflow */
}

/* Aggiunge il bordo verticale sfumato con ombra tra la colonna 1 e 2 */
.centered-table tr td:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    right: 1px;
    height: 100%;
    width: 1px;
    background: linear-gradient(to bottom, rgb(166, 166, 166), rgba(0, 0, 0, 0.3)); /* Sfumatura verticale */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Aggiunta di ombra ai lati */
    border-radius: 0%; /* Nessun arrotondamento per il bordo */
    z-index: 1; /* Porta l'elemento in primo piano per evitare che l'ombra sia nascosta */
}


/* Stile per arrotondare le immagini nelle celle */
.centered-table img {
    border-radius: 0px;
}


/* Stile per il titolo */
.highlight-title {
    font-size: 30px;
    line-height: 2.5;
    color: rgba(255, 0, 0, 0.1); /* Colore modificabile */
    text-shadow: 0 4px 8px rgb(0, 0, 0, 0);
    position: center;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    letter-spacing: 1px;
    display: inline-block;
}

/* Stile per l'etichetta non cliccabile */
.non-clickable-label {
    background-color: rgb(170, 145, 0); /* Colore di sfondo modificabile */
    color: #ffffff; /* Colore del testo modificabile */
    border: transparent; /* Colore e spessore del bordo modificabile */
    position: center;
    padding-top: 0.5vw; /* Padding dall'alto */
    padding-bottom: 0.5vw; /* Padding dal basso */
    padding-left: 40px; /* Padding da sinistra */
    padding-right: 40px; /* Padding da destra */
    border-radius: 10px; /* Bordo arrotondato */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra modificabile */
    font-size: 24px;
    margin-left: 0px; /* Spazio tra titolo e etichetta */
    display: inline-block;
    margin-bottom: 2vw;
    margin-top: 2.2vw;
    border: none; /* Rimuove eventuali bordi del bottone */
   
}


/* Stile per giustificare il testo con margini personalizzati */
.justified-text {
    text-align: justify;
    padding-left: 30px; /* Gestisci la distanza a sinistra */
    padding-right: 30px; /* Gestisci la distanza a destra */
    margin: 0; /* Elimina margini aggiuntivi */
}


/* Stile privacy e termini */
.deseo-privacy {
    text-align: justify;
    opacity: 0;
    font-size: 20px;
    animation: zoomIn 2s ease forwards;
    animation-delay: 1.0s;
   
}


/* Stile per il contenitore delle immagini e le frecce */
.scroll-case {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw; /* Adattato in base alla dimensione del contenitore */
    margin: 0 auto;
    position: relative;
}

.scroll-case #left-arrow,
.scroll-case #right-arrow {
    cursor: pointer;
    font-size: 2vw; /* Font size adattato a vw */
    padding: 2vw; /* Padding adattato a vw */
    color: #000000;
    border-radius: 30%;
    box-shadow: 0 1.4vw 1.8vw rgba(0, 0, 0, 0.0);
    height: 35vh; /* Altezza del pulsante freccia adattata a vh */
    display: flex;
    align-items: center; /* Centra verticalmente l'icona della freccia */
    justify-content: center; /* Centra orizzontalmente l'icona della freccia */
    width: 2vw; /* Larghezza adattata a vw */
}

.scroll-case #left-arrow:hover,
.scroll-case #right-arrow:hover {
    color: #005bb5;
}

.scroll-case #left-arrow {
    margin-right: -20.5vw; /* Controlla la distanza tra la freccia sinistra e l'immagine */
}

.scroll-case #right-arrow {
    margin-left: -20.5vw; /* Controlla la distanza tra la freccia destra e l'immagine */
}

#image-container {
    width: 60vw; /* Larghezza adattata a vw */
    overflow: hidden; /* Nasconde le immagini che sono fuori dal contenitore */
    box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.4);
    border-radius: 6vw ;
}

#image-wrapper {
    display: flex;
    width: calc(60vw * 4); /* 3 immagini, ognuna larga 60vw */
    transition: transform 1s ease; /* Transizione lenta per lo scorrimento */
}

#image-wrapper img {
    width: 60vw; /* Ogni immagine ha una larghezza adattata a vw */
    height: calc(100% + 4px); /* Sottrae 10px dall'altezza totale del contenitore genitore */
    flex-shrink: 0; /* Impedisce il ridimensionamento delle immagini */
    object-fit: cover; /* Assicura che le immagini siano adattate senza deformazioni */
}


/* Stile per il box descrittivo */
#description-box {
    text-align: center;
    margin-top: 1vw;
    padding: 1vw;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 55vw;
    margin: 0 auto;
    background-color: white;
}

#description-box p {
    font-size: 1vw;
    margin: 0;
}

.description-button {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background-color: rgb(170, 145, 0);
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.7vw;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.421);
}

.description-button:hover {
    background-color: rgb(211, 180, 2);
}

/* Elegant container */
.elegant-container {
    width: 45vw; /* Imposta la larghezza al 100% per adattarla ai contenuti */
    max-width: 900px; /* Imposta un limite massimo alla larghezza */
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Stile per i titoli dei menu a tendina */
.dropdown-title, .dropdown-title1, .dropdown-title2 {
    cursor: pointer;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    border: none;
    text-align: left;
    width: 100%; /* La larghezza del titolo si adatta al container */
    border-radius: 10px;
    margin-bottom: 18px;
    transition: background-color 0.3s ease;
    outline: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    letter-spacing: 10px;
}

.dropdown-title { background-color: rgb(170, 145, 0); }
.dropdown-title:hover { background-color: #ffffff; color: black; }

.dropdown-title1 { background-color: rgb(170, 145, 0); }
.dropdown-title1:hover { background-color: #ffffff; color: black; }

.dropdown-title2 { background-color: rgb(170, 145, 0); }
.dropdown-title2:hover { background-color: #ffffff; color: black; }

/* Stile del titolo quando il dropdown è attivo (aperto) */
.dropdown-title.active, .dropdown-title1.active, .dropdown-title2.active {
    background-color: #ffffff;
    color: black;
}

/* Stile del contenuto che si apre */
.dropdown-content {
    display: none;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 100%; /* La larghezza del contenuto si adatta al container */
    
}

/* Stile delle tabelle */
.dropdown-table {
    width: 100%; /* La larghezza della tabella si adatta al container */
    border-collapse: collapse;
    font-size: 20px;
}

.dropdown-table td {
    padding: 15px;
    text-align: center;
    border: 0px solid #ffffff;
    width: 50%; /* Imposta ogni colonna per occupare metà della larghezza della tabella */
}

/* Colori alternati per le righe */
.dropdown-table tr:nth-child(odd) {
    background-color: rgba(144, 200, 207, 0.543);
    color: rgb(0, 0, 0);
}

.dropdown-table tr:nth-child(even) {
    background-color: white;
    color: rgb(0, 0, 0);
}

/*carosello servizi*/
.multi-container-wrapper {
    display: flex;
    align-items: center;
    width: 60vw; /* Larghezza adattata a vw */
    margin: 1vw auto;
    position: relative;
}

.multi-left-control, .multi-right-control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 5vw; /* Larghezza adattata a vw */
    margin: 0 1vw; /* Margine adattato a vw */
}

.multi-left-arrow, .multi-right-arrow {
    cursor: pointer;
    font-size: 4vw; /* Font size adattato a vw */
    padding: 1.5vw; /* Padding adattato a vw */
    color: none;
    background-color: transparent;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.0);
}

.multi-container-items {
    overflow: hidden;
    flex-grow: 1;
    width: 300vw; /* Larghezza adattata a vw */
}

.multi-container-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(20vw * 3); /* Larghezza di ciascun item con padding incluso */
}

.sub-container {
    flex: 0 0 12.9vw; /* Larghezza con padding incluso, adattata per la nuova larghezza */
    margin: 0 1vw; /* Maggiore padding tra gli items adattato a vw */
    box-sizing: border-box;
    background-color: none;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.8vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.0);
    padding: 2vw; /* Padding interno degli item adattato a vw */
    height: 60vh; /* Altezza adattata a vh */
}


.non-clickable-label1 {
    background-color: #ffffff; /* Colore di sfondo modificabile */
    color: #000000; /* Colore del testo modificabile */
    border: transparent; /* Colore e spessore del bordo modificabile */
    padding-top: 2px; /* Padding dall'alto */
    padding-bottom: 2px; /* Padding dal basso */
    padding-left: 4px; /* Padding da sinistra */
    padding-right: 4px; /* Padding da destra */
    border-radius: 5px; /* Bordo arrotondato */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0); /* Ombra modificabile */
    font-size: 0.8vw;
    margin-left: 0px; /* Spazio tra titolo e etichetta */
    display: inline-block;
    margin-bottom: 0px;
    border: none; /* Rimuove eventuali bordi del bottone */
   
}

/*contattaci*/
.form-container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 70%;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-container input,
.form-container textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    width: 90%;
    padding: 10px;
    background-color: rgb(170, 145, 0);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: rgb(211, 180, 2);
}

/*cover-flow servizi*/

.flow-container {
    position: relative;
    width: 55%;
    perspective: 1000px;
    overflow: visible;
}

.cover-flow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: relative;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.cover-flow-item {
    position: absolute;
    width: 55vw; /* Larghezza del sub-container */
    max-width: 250px; /* Limita la larghezza massima */
    transform-origin: center center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0.2;
    
}

.cover-flow-item .img-container {
    width: 100%;
    padding: 15px;
    background-color: #fff; /* Colore del contenitore interno */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    
}

.cover-flow-item img {
    width: 100%;
    border-radius: 5px;
}

.cover-flow-item.active {
    transform: scale(1.3) translateZ(0);
    opacity: 1;
}

.cover-flow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 1000;
    font-size: 3.4vw;
}

.prev {
    left: 50px; /* Riduce lo spazio tra la freccia e gli items */
}

.next {
    right: 50px; /* Riduce lo spazio tra la freccia e gli items */
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 30%; /* The width is the width of the web page */
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

}
