body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: rgb(158, 33, 33);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

nav {
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}

.hero {
    position: relative;
    height: auto;
    z-index: 10;
    margin-bottom: 0; /* Modifica per rimuovere lo spazio */
}

.hero-images {
    display: none;
}

.hero-images img {
    width: 100%;
    height: auto;
    display: none;
}

.hero-images img.active {
    display: block;
}

section {
    margin-bottom: 40px;
}

#table-section {
    padding: 20px;
    background-color: #dfd8d0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Imposta la distanza superiore a 0 */
}

.table-container {
    width: 100%;
    max-width: 1200px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: transparent;
}

th, td {
    padding: 10px;
    text-align: left;
}

.contact-info, .social-media {
    text-align: center;
}

.social-media img {
    width: 30px;
    height: auto;
    margin: 0 10px;
}

/* Desktop styles */
@media (min-width: 768px) {
    .hero-images.desktop {
        display: block;
    }
    .menu-icon {
        display: none;
    }
    .mobile-table {
        display: none;
    }
    .hero-images.mobile {
        display: none;
    }
}

/* Mobile styles */
@media (max-width: 767px) {
    .desktop-table {
        display: none;
    }
    .mobile-table {
        display: table;
        width: auto;
        margin-top: 0px;
    }
    #table-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px; /* Assicura che la tabella mobile sia attaccata al mobile menu */
    }
    .table-container {
        width: auto;
        max-width: 500px;
        margin: 0 auto; /* Centra la tabella */
        margin-top: 0px;
    }
    .mobile-table {
        margin: 0 auto; /* Centra la tabella */
        margin-top: 0px;
    }
    .hero-images.mobile {
        display: block;
        width: auto;
    }
    .hero-images.desktop {
        display: none;
    }
}

.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}

.profile-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 5px;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    animation: bounce 4s infinite;
    z-index: 1000; /* Assicura che l'immagine sia in primo piano */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.form-container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 70%;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-container input,
.form-container textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    width: 90%;
    padding: 10px;
    background-color: #4285f4;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #357ae8;
}

@media (max-width: 767px) {
    .hero {
        margin-bottom: 0px; /* Riduce lo spazio tra l'hero e la tabella mobile */
    }
}

.faq-section {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-section h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    width: 100%;
    background-color: #f0f0f0;
    color: #000000;
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #f0f0f0;
}

.faq-answer {
    display: none;
    padding: 15px;
    background-color: rgba(158, 213, 228, 0.1);
    border-radius: 5px;
    margin-top: 10px;
}

.faq-answer p {
    margin: 0;
    color: #000000;
    font-size: 20px;
}

.review-container {
    width: 50%;
    height: 220px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.review-container1 {
    position: relative;
}

.review-item {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.review-item.active {
    display: block;
    opacity: 1;
}

@media (max-width: 767px) {
    .review-container1 {
        height: auto;
    }
}

.review-text {
    opacity: 1;
    transition: opacity 2.0s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.google-button {
    display: inline-block;
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}
.google-button:hover {
    background-color: #357ae8;
}

/* CSS to show the button by default and hide it only on smartphones */
.google-button {
    display: inline-block; /* Show by default */
}

@media (max-width: 767px) {
    /* Hide the button on devices with a max-width of 767px (smartphones) */
    .google-button {
        display: none;
    }
}

/* CODICE CSS MENU DESKTOP E SMARTPHONE */

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Desktop menu styles */
.desktop-menu {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiunta l'ombra */
}

.desktop-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.desktop-menu ul li {
    display: inline;
    margin: 0 20px;
}

.desktop-menu ul li a {
    color: #000;
    font-size: 18px;
    padding: 10px 15px; /* Aggiunto padding per hover sullo sfondo */
    transition: color 0.3s, background-color 0.3s;
}

.desktop-menu ul li a:hover {
    color: rgb(158, 33, 33);
    background-color: rgba(158, 33, 33, 0.1); /* Aggiunto hover sullo sfondo */
}

/* Mobile menu styles */
.mobile-menu {
    display: none;
    background-color: white;
    padding: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiunta l'ombra */
}

.menu-icon {
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: inline-block;
}

.menu-list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    text-align: center;
}

.menu-list li {
    margin: 10px 0;
}

.menu-list li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* Show menu on mobile */
@media (max-width: 767px) {
    .mobile-menu {
        display: block;
    }
    .desktop-menu {
        display: none;
    }
}

/* Active class for menu */
.menu-list.active {
    display: block;
}

/* Bottone desktop visibile solo su schermi più grandi */
.desktop-button {
    display: inline-block;
}

/* Bottone mobile nascosto su schermi più grandi */
.mobile-button {
    display: none;
}

/* Stili per smartphone */
@media (max-width: 600px) {
    /* Bottone desktop nascosto su schermi piccoli */
    .desktop-button {
        display: none;
    }

    /* Bottone mobile visibile su schermi piccoli */
    .mobile-button {
        display: inline-block;
    }
}

/* Mostra otafoot solo su desktop */
@media (min-width: 800px) {
    .otafoot {
        display: block;
    }
    .otamobile {
        display: none;
    }
}

/* Mostra otamobile solo su smartphone */
@media (max-width: 800px) {
    .otafoot {
        display: none;
    }
    .otamobile {
        display: block;
    }
}

.footer-background {
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Aggiungi ombra */
    position: relative;
    z-index: 1;
}

.footer-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.284); /* Ombra scura per migliorare leggibilità */
    z-index: -1;
}

footer .contact-info, footer .social-media, footer span {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombra per il testo */
}

.language-icons {
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 35px; /* Adjust as needed */
    z-index: 1;
    display: flex;
    gap: 10px;
}

.language-icon {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    cursor: pointer;
}

/* Media query for smartphones */
@media (max-width: 600px) {
    .language-icons {
        top: 10px; /* Adjust as needed for smartphones */
        right: 8px; /* Adjust as needed for smartphones */
        gap: 10px; /* Adjust as needed for smartphones */
    }

    .language-icon {
        width: 27px; /* Adjust size as needed for smartphones */
        height: 27px; /* Adjust size as needed for smartphones */
    }
}

table td * {
    display: block; /* Ensures that all elements behave like block-level elements */
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  table td *:not(:first-child) {
    margin-top: 6px; /* Adds space between successive elements */
  }

  /*CSS GALLERIA IMMAGINI*/

/* Galleria visibile solo su desktop */
.desktop-only {
    display: block;
}

.smartphone-only {
    display: none;
}

@media (max-width: 768px) {
    /* Galleria visibile solo su smartphone */
    .desktop-only {
        display: none;
    }

    .smartphone-only {
        display: block;
    }

    /* Modifica del margine dall'alto per smartphone */
    .location {
        top: 27%; /* Regola il valore secondo le tue necessità */
        font-size: 9px; /* Font size per smartphone */
    }

    .overlay .description {
        display: none; /* Nasconde la descrizione per smartphone */
    }

    .overlay {
        width: auto;
        padding: 5px 0; /* Riduce il padding per smartphone */
        background: none; /* Rimuove il background per l'overlay su smartphone */
    }
}

.gallery-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border: transparent #ddd;
    border-radius: 29px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi ombra al container */
}

.gallery {
    display: flex;
    transition: transform 1s ease-in-out; /* Scorrimento lento */
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide img {
    width: 100%; /* La larghezza dell'immagine per desktop */
    height: auto;
    display: block;
    border-bottom: transparent;
}

.location {
    position: absolute;
    top: 7%; /* Margine dall'alto per desktop */
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8); /* Aumenta opacità dello sfondo */
    color: #000000;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px; /* Font size per desktop */
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%; /* Si adatta alla larghezza dell'immagine */
    background: rgba(255, 255, 255, 0.9); /* Aumenta opacità dello sfondo */
    color: #000000;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    margin: 0;
    font-size: 16px;
}

.book-button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #2ab047;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(3, 2, 2, 0.5); /* Aggiungi ombra al bottone */
}

.book-button:hover {
    background-color: #acf0b1;
    color: #000
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
 









