body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Cambiato da space-between a flex-start */
    align-items: center;
    min-height: 100vh; /* Cambiato da height: 100vh a min-height per permettere lo scroll verticale */
    width: 100%;
    background-image: url('');
    background-size: cover;
    background-position: center;
    overflow-x: hidden; /* Evita lo scrolling orizzontale */
    overflow-y: auto; /* Abilita lo scrolling verticale */
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.0); /* Sfondo semitrasparente */
}



.header-button {
    padding: 10px 20px;
    background-color: #10c9cf;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    font-size: 14px;
}

.header-button:hover {
    background-color: #0d9ba0;
}

/* Stile per l'etichetta non cliccabile */
.non-clickable-label {
    background-color: #005bb5; /* Colore di sfondo modificabile */
    color: #ffffff; /* Colore del testo modificabile */
    border: transparent; /* Colore e spessore del bordo modificabile */
    position: center;
    padding-top: 0.5vw; /* Padding dall'alto */
    padding-bottom: 0.5vw; /* Padding dal basso */
    padding-left: 40px; /* Padding da sinistra */
    padding-right: 40px; /* Padding da destra */
    border-radius: 10px; /* Bordo arrotondato */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra modificabile */
    font-size: 18px;
    margin-left: 0px; /* Spazio tra titolo e etichetta */
    display: inline-block;
    margin-bottom: 2vw;
    margin-top: 2.2vw;
    border: none; /* Rimuove eventuali bordi del bottone */
   
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    overflow: hidden;
    max-width: 50vw;
    width: 50vw;
    height: auto; /* Altezza dinamica per adattarsi ai contenuti */
    min-height: 75vh;
    margin: 20px 0;
    transition: height 0.3s ease; /* Transizione per adattare l'altezza in modo fluido */
}

.form-container {
    padding: 17px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    width: 50vw; /* Mantieni la larghezza */
}

.form-container h2 {
    margin-bottom: 17px;
    font-size: 20.4px;
    text-align: center;
    width: 100%;
}

input[type="text"], select, button {
    padding: 8.5px;
    margin-bottom: 17px;
    border: none;
    border-radius: 4px;
    font-size: 13.6px;
    width: 100%;
    max-width: 340px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: black;
}

button {
    padding: 10.2px;
    background-color: #10c9cf;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover {
    background-color: #0d9ba0;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 17px;
    width: 100%;
    max-width: 24vw;
}

input[type="range"] {
    width: 100%;
    border: 1px solid;
    border-color: black;
    background: red;
    height: 6.8px;
    border-radius: 5px;
    text-align: center;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12.75px;
    height: 12.75px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

#nights-label {
    margin-top: 8.5px;
    font-size: 13.6px;
    text-align: center;
    width: 100%;
}

#result {
    margin-top: 8.5px;
    margin-bottom: 20.5px;
    font-weight: bold;
    font-size: 8.3px;
    text-align: center;
    color: #000000;
    display: block; /* Assicurati che sia visibile */
}

#price-result {
    font-size: 10.4px;
    font-weight: bold;
    text-align: center;
    margin-top: 17px;
    padding-left: 0.85vw;
    padding-right: 0.85vw;
    margin-bottom: 5%;
}

#more-info {
    margin-top: 8.5px;
    text-align: center;
    font-size: 11.9px;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

#more-info:hover {
    color: #0056b3;
}

#map-container {
    flex: 2;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 90vw; /* Migliore gestione su schermi più piccoli */
    }

    .map-container {
        height: 255px;
    }
}

/* Modal Overlay */
#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

/* Modal Content */
#info-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 17px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
}

#info-modal h3 {
    margin-top: 0;
}

#info-modal p {
    margin-bottom: 17px;
}

#info-modal button {
    padding: 8.5px 17px;
    background-color: #10c9cf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#info-modal button:hover {
    background-color: #0d9ba0;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    background-color: none;
    margin-top: auto;
    text-align: center;
}

.footer-button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #0d9ba0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.footer-button:hover {
    background-color: #10c9cf;
}

.footer-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-images a {
    margin: 0 10px;
}

.footer-images img {
    max-width: 35px;
    max-height: 35px;
    transition: transform 0.3s ease;
}

.footer-images img:hover {
    transform: scale(1.1);
}

#more-info {
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: #2c33ff;
    text-decoration: none;
    margin-bottom: 5px;
}

#more-info:hover {
    color: #00ccff;
}

.tariff-note {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

/* Forza lo scroll verticale */
html {
    height: 100%;
    overflow-y: scroll; /* Forza sempre la barra di scorrimento */
}

/* Media queries per smartphone */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        padding: 10px;

    }

    .container {
        flex-direction: column;
        max-width: 90vw;
        width: 100%; /* Larghezza al 100% del viewport */
        min-height: auto;
        height: auto; /* L'altezza si adatta al contenuto */
        margin: 10px 0;
    }

    .form-container, #map-container {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centratura verticale */
        align-items: center; /* Centratura orizzontale */
        text-align: center; /* Assicura che il testo sia centrato */
    }

    #map {
        height: 300px; /* Imposta un'altezza fissa per la mappa sugli smartphone */
    }

    input[type="text"], select, button {
        width: 80%; /* Ridotto al 80% per centrare meglio all'interno del container */
        max-width: 80%;
        margin-bottom: 5px; /* Spazio tra gli elementi */
    }

    .slider-container {
        max-width: 80%; /* Imposta la larghezza per lo slider */
        margin-bottom: 10px; /* Spazio tra lo slider e gli altri elementi */
        display: flex;
        flex-direction: column;
        align-items: center; /* Assicura la centratura orizzontale */
    }

    #nights-label {
        text-align: center; /* Assicura che l'etichetta sia centrata */
        margin-bottom: 10px; /* Spazio sotto l'etichetta */
    }

    #price-result {
        margin-top: 15px;
    }
}