body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('images/sfland1transparent.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2vh 0;
    background-color: rgba(255, 255, 255, 0.0); /* Transparent background */
}

.logo {
    max-height: 20vh;
}

.header-button {
    padding: 1vh 2vw;
    background-color: #10c9cf;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    font-size: 1vw;
}

.header-button:hover {
    background-color: #0d9ba0;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    width: 90vw;  /* Adjust based on the viewport */
    max-width: 1200px;  /* Limit maximum width */
    height: 50vh;
    margin: auto;
}

.form-container {
    padding: 1.5vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
}

.form-container h2 {
    margin-bottom: 2vh;
    font-size: 2vw;
    text-align: center;
    width: 100%;
}

input[type="text"], select, button {
    padding: 1vh;
    margin-bottom: 1.5vh;
    border: none;
    border-radius: 4px;
    font-size: 1.5vw;
    width: 100%;
    max-width: 340px;
    box-sizing: border-box;
    border: 1px solid black;
}

button {
    padding: 1.5vh;
    background-color: #10c9cf;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover {
    background-color: #0d9ba0;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5vh;
    width: 100%;
    max-width: 340px;
}

input[type="range"] {
    width: 100%;
    border: 1px solid black;
    background: red;
    height: 1vh;
    border-radius: 5px;
    text-align: center;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5vw;
    height: 1.5vw;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

#nights-label {
    margin-top: 1.5vh;
    font-size: 1.5vw;
    text-align: center;
    width: 100%;
}

#result {
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
    color: #000000;
}

#price-result {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

#more-info {
    margin-top: 1vh;
    text-align: center;
    font-size: 1.3vw;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

#more-info:hover {
    color: #0056b3;
}

#map-container {
    flex: 2;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    #map-container {
        height: 40vh;
    }
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#info-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    max-width: 80vw;
    max-height: 80vh;
    overflow-y: auto;
}

#info-modal h3 {
    margin-top: 0;
}

#info-modal p {
    margin-bottom: 1.5vh;
}

#info-modal button {
    padding: 1.5vh;
    background-color: #10c9cf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#info-modal button:hover {
    background-color: #0d9ba0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2vh 0;
    background-color: none;
    margin-top: auto;
    text-align: center;
}

.footer-button {
    margin: 1vh 0;
    padding: 1.5vh 2vw;
    background-color: #0d9ba0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    font-size: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.footer-button:hover {
    background-color: #10c9cf;
}

.footer-images {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.footer-images a {
    margin: 0 1vw;
}

.footer-images img {
    max-width: 3vw;
    max-height: 3vw;
    transition: transform 0.3s ease;
}

.footer-images img:hover {
    transform: scale(1.1);
}
