/* Forza l'elemento a espandersi verticalmente */
.accordion-collapse {
  width: 100%; /* Assicurati che occupi la larghezza completa */
}

/* Controlla l'animazione per farlo espandere dall'alto verso il basso */
.accordion-collapse.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}
.accordion-collapse.show {
  height: auto;
}

/* Rimuove la freccia di default dal pulsante accordion-button */
.accordion-button::after {
  display: none;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: inherit;
  box-shadow: none;
}

